@import 'variables';
@import 'navigation';
@import 'hero';
@import 'about';

body {
  min-height: 250vh;
  margin-right: 0.5px;
}

h4 {
  margin-left: 20px;
}

span.card-title {
  font-style: normal;
  font-weight: bold;
  color: #ff9012;
}

//-----------------FOOTER---------------

.grayfooter {
    background-color: $color3;
;
    padding: 50px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 0px 100px;
  }
  .footofawesome {
    color: #a2a2a2;
    text-align: center;
  }
  .h5foot {
    text-transform: uppercase;
    font-weight: bold;
    color: #ff9012;
  }
  a.footofawesome {
    color: #ff9012;
    &:hover {
      color: #ffffff;
    }
  }
