%section#about
  .row.about
    .large-12.columns-centered
      .medium-6.columns
        %img{:src => "images/me.jpg"}/
      .medium-6.columns
        %h3 About Me
        .orangehr
          - data.about.each do |me|
            %p= me[:name]
            %p= me[:description]
