= partial "partials/nav"
= partial "partials/hero"
= partial "partials/projects"
= partial "partials/about"

.row.grayfooter#contact
  .large-3.columns.footofawesome
    %h5.h5foot Contact
    .divider
    Stockholm
    %br/
    nurlan.emiroff@gmail.com
    %br/
    %a.footofawesome{:href => "http://www.nurlanemir.com", :target => "_new"} nurlanemir.com
